* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.theme-light {
  --bg-primary: #d6ecf1;
  --bg-secondary: fff;
  --font-main: #1f2833;
  --font-btn: #fff;
  --accent: #1f2833;
  --accent-border: rgb(245, 245, 245);
  --bg-btn: #1f2833;
  --btn-hover: #0f1318;
  --item-hover: #b0d2da;
}

.theme-dark {
  --bg-primary: #242424;
  --bg-second: #292929;
  --font-main: #d6ecf1;
  --font-btn: #fff;
  --accent: #63b2c3;
  --accent-border: #3d3d3d;
  --bg-btn: rgba(167, 193, 199, 0.2);
  --btn-hover: rgba(119, 138, 143, 0.6);
  --item-hover: #3d3d3d;
}

main {
  background-color: var(--bg-primary);
  color: var(--font-main);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.header {
  border-top: 6px solid var(--accent);
  height: 3rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  margin-left: 2rem;
  font-size: 1.6rem;
}

.dark-toggle {
  margin-right: 2rem;
  display: flex;
  align-items: flex-end;
}

.toggle-btn {
  margin: 0 0 0 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

#light {
  color: #444;
  background-color: #fff;
}

#dark:hover {
  background-color: #63b2c3;
  transition: ease 0.2s;
  /* box-shadow: 0px 6px 10px 5px rgba(99, 178, 195, 0.4);
  -moz-box-shadow: 0px 6px 10px 5px rgba(99, 178, 195, 0.4);
  -webkit-box-shadow: 0px 6px 10px 5px rgba(99, 178, 195, 0.4); */
}

#light:hover {
  background-color: rgba(60, 70, 73, 0.4);
  transition: ease 0.2s;
  color: var(--accent);
  /* box-shadow: 0px 6px 10px 5px rgba(119, 213, 235, 0.4);
  -moz-box-shadow: 0px 6px 10px 5px rgba(99, 178, 195, 0.4);
  -webkit-box-shadow: 0px 6px 10px 5px rgba(99, 178, 195, 0.4); */
}

.app-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.region-btn {
  margin-top: 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

.region-btn:hover {
  background-color: var(--btn-hover);
  transition: ease 0.2s;
}

.btn-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 2rem auto;
}

.data-btn {
  margin-top: 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

.data-btn:hover {
  background-color: var(--btn-hover);
  transition: ease 0.2s;
}

.country-list-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--accent);
  padding-bottom: 0;
}

.country-list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-second);
  padding: 2rem;
  padding: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  border-radius: 20px;
}

.country-list {
  list-style: none;
  width: 100%;
  margin-bottom: 2rem;
}

.country-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: default;
  text-align: left;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--bg-primary);
}

.country-item img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.country-item .density {
  text-align: right;
}

.country-item:hover {
  background-color: var(--item-hover);
}
