* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

td,
tr {
  display: inline-block;
}

html {
  --trans-fast: 0.2s ease;
  --trans-slow: 0.4s ease;
}

.theme-light {
  --bg-primary: #d6ecf1;
  --bg-secondary: #fff;
  --font-main: #3f5166;
  --font-second: #59728f;
  --font-btn: #fff;
  --accent: #63b2c3;
  --accent-border: rgb(245, 245, 245);
  --bg-btn: #3f5166;
  --btn-hover: #4f6885;
  --bg-item: #f7fdff;
  --item-hover: #d6ecf1;
  --btnclr-hover: #fff;
}

.theme-dark {
  --bg-primary: #242424;
  --bg-secondary: #292929;
  --font-main: #d6ecf1;
  --font-second: #b2c6ca;
  --font-btn: #fff;
  --accent: #63b2c3;
  --accent-border: #3d3d3d;
  --bg-btn: rgba(167, 193, 199, 0.2);
  --btn-hover: rgba(119, 138, 143, 0.6);
  --item-hover: #3d3d3d;
}

a {
  text-decoration: none;
  color: var(--font-main);
}

.main {
  background-color: var(--bg-primary);
  color: var(--font-main);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.header {
  background-color: var(--bg-primary);
  color: var(--font-main);
  border-top: 6px solid var(--accent);
  height: 3rem;
  /* position: fixed; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.dark-toggle {
  margin-right: 2rem;
  display: flex;
  align-items: flex-end;
}

.toggle-btn {
  margin: 0 0 0 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

#light {
  color: #444;
  background-color: #fff;
}

#dark:hover {
  background-color: #63b2c3;
  transition: var(--trans-fast);
}

#light:hover {
  background-color: #0f1318;
  transition: var(--trans-fast);
  color: var(--btnclr-hover);
}

.app-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.region-btn-container {
  display: flex;
  justify-content: left;
  width: 50%;
}

.region-btn {
  margin-right: 10px;
  border: none;
  padding: 8px;
  border-radius: 50px;
  font-size: 16px;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

.region-btn:hover {
  background-color: var(--btn-hover);
  transition: var(--trans-fast);
}

.region-btn:focus {
  outline: 3px solid #63b2c3;
}

.btn-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 2rem 0.5rem;
}

.data-btn {
  margin-top: 1rem;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

.data-btn:hover {
  background-color: var(--btn-hover);
  transition: var(--trans-fast);
}

.country-list-header tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--accent);
  padding-bottom: 0;
}

.country-list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 1rem 2rem 2rem 2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  min-height: 80vh;
}

.country-list {
  list-style: none;
  width: 100%;
  margin-bottom: 2rem;
}

.country-item {
  background-color: var(--bg-item);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid var(--bg-primary);
}

.name {
  text-align: left;
}

.country-item img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.country-item .density {
  text-align: right;
}

.country-item:hover {
  background-color: var(--item-hover);
}

/* --------------------------------------Detail */

.detail-main {
  background-color: var(--bg-primary);
  color: var(--font-main);
  min-height: 100vh;
}

.detail-card {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  margin: 4rem;
}

.detail-back-btn {
  width: 25%;
  margin-left: 2rem;
}

.back-btn {
  transition: var(--trans-fast);
}

.back-btn:hover {
  color: var(--accent);
}

.detail-back-btn i {
  padding-right: 10px;
}

.detail-card img {
  width: 450px;
}

.detail-card-stats-lists {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.detail-card-stats h1 {
  width: 100%;
  border-bottom: 2px solid var(--accent-border);
  text-underline-offset: 6px;
}

.detail-card-stats ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.detail-card-stats h5 {
  font-size: 1rem;
}

.detail-card-stats .country-stats {
  color: var(--font-second);
  font-size: 0.8rem;
  font-weight: 400;
}
