* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

td,
tr {
  display: inline-block;
}

html {
  --trans-fast: 0.2s ease;
  --trans-slow: 0.4s ease;
  --font-sm: 0.7rem;
  --font-medsmall: 0.75rem;
  --font-med: 0.8rem;
  --font-lrg: 0.85rem;
  --font-xl: 1rem;
  --font-2x: 1.4rem;
  --padd-sm: 5px;
  --padd-med: 0.5rem;
  --padd-ml: 0.625rem;
  --padd-lrg: 0.75rem;
  --padd-xl: 1rem;
  --padd-xxl: 2rem;
}

.theme-light {
  --bg-primary: #d6ecf1;
  --bg-secondary: #fff;
  --font-main: #3f5166;
  --font-second: #59728f;
  --font-btn: #fff;
  --accent: #63b2c3;
  --accent-border: rgb(245, 245, 245);
  --bg-btn: #3f5166;
  --bg-btn-mobile: #3f5166;
  --btn-hover: #4f6885;
  --bg-item: #f7fdff;
  --item-hover: #d6ecf1;
  --btnclr-hover: #fff;
}

.theme-dark {
  --bg-primary: #242424;
  --bg-secondary: #292929;
  --font-main: #d6ecf1;
  --font-second: #b2c6ca;
  --font-btn: #fff;
  --accent: #63b2c3;
  --accent-border: #3d3d3d;
  --bg-btn: rgba(167, 193, 199, 0.2);
  --bg-btn-mobile: rgb(77, 87, 90);
  --btn-hover: rgba(119, 138, 143, 0.6);
  --item-hover: #3d3d3d;
}

a {
  text-decoration: none;
  color: var(--font-main);
}

.btn {
  cursor: pointer;
  outline: none;
  border: none;
}
.main {
  background-color: var(--bg-primary);
  color: var(--font-main);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading,
.error {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  background-color: var(--bg-primary);
  color: var(--font-main);
  min-height: 100vh;
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 2rem;
  margin: 2rem;
}

/* ---------------------------------------------Header */

.header {
  background-color: var(--bg-primary);
  color: var(--font-main);
  border-top: 6px solid var(--accent);
  height: 3rem;
  padding: 1rem 2rem;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.header h1 {
  font-size: var(--font-2x);
}

.dark-toggle {
  display: flex;
  align-items: flex-end;
}

.toggle-btn {
  border: none;
  padding: var(--padd-ml);
  border-radius: 50px;
  font-size: var(--font-xl);
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
  cursor: pointer;
}

#light {
  color: #444;
  background-color: #fff;
}

#dark:hover {
  background-color: #63b2c3;
  transition: var(--trans-fast);
}

#light:hover {
  background-color: #0f1318;
  transition: var(--trans-fast);
  color: var(--btnclr-hover);
}

.mobile-menu-open {
  background-color: var(--bg-primary);
  color: var(--font-main);
  padding: var(--padd-sm);
  display: none;
}

.mobile-menu-open:hover {
  color: var(--accent);
}

/* -------------------------------------------Region Btns */

.region-btn-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

.region-btn {
  padding: var(--padd-med);
  border-radius: 50px;
  font-size: var(--font-med);
  color: var(--font-btn);
  background-color: var(--bg-btn);
}

.region-btn:hover {
  background-color: var(--btn-hover);
  transition: var(--trans-fast);
}

.region-btn:focus {
  outline: 3px solid #63b2c3;
}

/* -----------------------------------------------Data Btns  */

.btn-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 2rem 0;
}

.data-btn {
  margin-bottom: 1rem;
  padding: 10px 4px;
  border-radius: 50px;
  font-size: var(--lrg);
  font-weight: bold;
  color: var(--font-btn);
  background-color: var(--bg-btn);
}

.data-btn:hover {
  background-color: var(--btn-hover);
  transition: var(--trans-fast);
}

@media (max-width: 1080px) {
  .app-container {
    margin: 2rem 0 2rem 0;
    gap: 0;
  }

  .header {
    padding: var(--padd-xl);
    height: auto;
  }
  .header h1 {
    font-size: var(--font-xl);
  }
  .toggle-btn {
    font-size: var(--font-sm);
  }

  .btn-container {
    margin: 0;
  }

  .data-btn {
    font-size: 0.8rem;
    border-radius: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 825px) {
  .app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mobile-menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: var(--padd-med);
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 120px;
    border: 2px solid var(--accent);
    transition: var(--trans-fast);
  }

  .mobile-menu-open i {
    padding-left: var(--padd-med);
  }

  .mobile-menu-open.active {
    transition: var(--trans-slow);
  }

  .btn-container {
    background-color: var(--bg-btn-mobile);
    position: absolute;
    left: 0;
    top: 25%;
    padding: 1rem 1rem 1rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: var(--trans-slow);
    transform: translateX(-100%);
  }

  .data-btn {
    background-color: var(--bg-btn-mobile);
  }
}
.btn-container.active {
  transform: translateX(0);
  z-index: 3;
}

/* ----------------------------------------------Data List  */

.country-list-header tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 3px solid var(--accent);
  padding-bottom: 0;
}

.country-list-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: 1rem 2rem 2rem 2rem;
  margin-right: 1rem;
  border-radius: 20px;
  min-height: 80vh;
}

.country-list {
  list-style: none;
  width: 100%;
  margin-bottom: 2rem;
}

.country-item {
  background-color: var(--bg-item);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  align-items: center;
  padding: 0.6rem 1rem;
  border-bottom: 1px solid var(--bg-primary);
}

.country-item-pop {
  text-align: center;
}

.name {
  text-align: left;
}

.country-item img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.country-item .density {
  text-align: right;
}

.country-item:hover {
  background-color: var(--item-hover);
}

@media (max-width: 1080px) {
  .country-list-container {
    border-top-left-radius: 0;
    min-width: 500px;
  }

  .country-list-header h2 {
    font-size: var(--font-xl);
  }

  .country-item span {
    font-size: var(--font-medsmall);
  }
}

@media (max-width: 825px) {
  .country-list-container {
    min-width: 300px;
    margin: 0 1rem;
    border-radius: 20px;
  }

  .country-item span {
    font-size: var(--font-medsmall);
  }
}

@media (max-width: 615px) {
  .header h1 {
    display: none;
  }
}
/* --------------------------------------Detail */

.detail-main {
  background-color: var(--bg-primary);
  color: var(--font-main);
  min-height: 100vh;
}

.detail-card {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  margin: 4rem;
}

.detail-back-btn {
  width: 25%;
  margin-left: 2rem;
  padding-top: var(--padd-xxl);
}

.back-btn {
  transition: var(--trans-fast);
}

.back-btn:hover {
  color: var(--accent);
}

.detail-back-btn i {
  padding-right: var(--padd-ml);
}

.detail-card-img-container {
  display: flex;
  flex-direction: column;
}

.detail-card img {
  width: 450px;
}

.detail-card-stats-lists {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.detail-card-stats h1 {
  width: 100%;
  border-bottom: 2px solid var(--accent-border);
  text-underline-offset: 6px;
}

.detail-card-stats ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.detail-card-stats h5 {
  font-size: var(--font-xl);
}

.detail-card-stats .country-stats {
  color: var(--font-second);
  font-size: var(--font-med);
  font-weight: 400;
}

.detail-card-wiki-link {
  text-decoration: underline;
  font-size: var(--font-medsmall);
  padding-top: var(--padd-sm);
}

.detail-card-wiki-link:hover {
  color: var(--accent);
}

@media (max-width: 1050px) {
  .detail-main {
    min-height: 100%;
  }

  .detail-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    margin: 1rem 3rem 0 3rem;
  }

  .detail-card-img-container {
    align-items: center;
  }

  .detail-card-stats {
    height: 100%;
    padding-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: var(--font-xl);
  }

  .header {
    padding: var(--padd-med);
  }
  .header h1 {
    font-size: var(--font-xl);
    margin: 0rem;
  }

  .toggle-btn {
    font-size: var(--font-sm);
    margin: 0rem;
  }

  .detail-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    margin: 1.5rem 1.5rem 0 1.5rem;
  }

  .detail-card h5 {
    font-size: var(--font-med);
  }

  .detail-card .country-stats {
    font-size: var(--font-medsmall);
  }

  .detail-card img {
    width: 250px;
  }

  .detail-card-wiki-link {
    font-size: var(--font-sm);
    padding-top: var(--padd-med);
  }
}

@media (max-width: 400px) {
  .detail-card {
    margin: 1rem 1rem 0 1rem;
  }
}
